In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_csv('deliveries.csv')

In [3]:
m = pd.read_csv('matches.csv')

In [4]:
d.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
m.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
m.rename(columns = {'id' :'match_id'},inplace = True)

#### 1. Which of the following is the right way to merge 2 datasets for getting better insights from the data

In [7]:
df = pd.merge(m,d, on = ['match_id'])

In [8]:
df.head()

,match_id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [9]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [10]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

#### 2. The column which has the most missing values according to the data is:

In [11]:
df.isnull().sum()

match_id                 0
season                   0
city                  1700
date                     0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
result                   0
dl_applied               0
winner                 372
win_by_runs              0
win_by_wickets           0
player_of_match        372
venue                    0
umpire1                500
umpire2                500
umpire3             150712
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

#### 3. City which hosted most number of seasons according to the data is:

In [12]:
a3 = m.groupby(['city'])[['season']].count()

In [13]:
a3.sort_values(by = 'season' , ascending = False).head()

           season
city
Mumbai        101
Kolkata        77
Delhi          74
Bangalore      66
Hyderabad      64

#### 4. Which year has the most number of matches played?

In [14]:
m['season'].value_counts().head()

2013    76
2012    74
2011    73
2010    60
2014    60
Name: season, dtype: int64

#### 5. Maximum wins by Mumbai Indians in 2011 are

In [15]:
len(m[(m['winner'] == 'Mumbai Indians') & (m['season'] == 2011)])

10

#### 7.  What is the percentage of getting bat and field in feature 'toss_descision'?

In [16]:
m['toss_decision'].value_counts()

field    463
bat      293
Name: toss_decision, dtype: int64

In [17]:
field = (len(m[m['toss_decision'] == 'field'])/len(m))*100
bat = (len(m[m['toss_decision'] == 'bat'])/len(m))*100

In [18]:
print(bat,field)

38.75661375661375 61.24338624338625

#### 8.  Which statement holds true

In [19]:
a8 = m[m['winner'] == m['toss_winner']]

In [20]:
a8['toss_decision'].value_counts()

field    259
bat      134
Name: toss_decision, dtype: int64

#### 9. In which years where taking batting second have won more number of matches?

In [21]:
pd.crosstab(columns = m['toss_decision'],index = m['season'])

toss_decision  bat  field
season
2008            26     32
2009            35     22
2010            39     21
2011            25     48
2012            37     37
2013            45     31
2014            19     41
2015            25     34
2016            11     49
2017            11     48
2018            10     50
2019            10     50

#### 11. In 2019 which batsman scored highest number of runs by hitting 6's and 4's?

In [22]:
a11 = df[(df['season'] == 2019) & ((df['batsman_runs'] == 4) | (df['batsman_runs'] == 6))]

In [23]:
a11 = a11.groupby(['batsman'])[['batsman_runs']].sum()

In [24]:
a11.sort_values(by = 'batsman_runs' , ascending = False).head(1)

            batsman_runs
batsman
AD Russell           438

#### 12. Most number of wickets taken by a bowler is

In [25]:
df['dismissal_kind'].value_counts()

caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [26]:
a12 = df[(df['dismissal_kind'] == 'caught') |
  (df['dismissal_kind'] == 'bowled') |
  (df['dismissal_kind'] == 'lbw') |
  (df['dismissal_kind'] == 'stumped') |
  (df['dismissal_kind'] == 'caught and bowled') |
  (df['dismissal_kind'] == 'hit wicket')]

In [27]:
a12 = a12.groupby(['bowler'])[['dismissal_kind']].count()

In [28]:
a12.sort_values(by = 'dismissal_kind' , ascending = False).head(1)

            dismissal_kind
bowler
SL Malinga             170

#### 13.  What is the strike rate of Kohli in 2016
*
HINT: strike rate = (Total Runs / Total Balls Faced) * 100

In [29]:
a13 = df[(df['season'] == 2016) & (df['batsman'] == 'V Kohli')]

In [30]:
runs = a13['batsman_runs'].sum()

In [31]:
balls = a13['ball'].count()

In [32]:
sr = (runs/balls)*100

In [33]:
sr

148.54961832061068

#### 14.  Bowlers with maximum number of extras:

In [34]:
a14 = df.groupby(['bowler'])[['extra_runs']].sum()

In [35]:
a14.sort_values(by = 'extra_runs' , ascending = False).head(1)

            extra_runs
bowler
SL Malinga         293

#### 15. Which venue has hosted most number of IPL matches?

In [36]:
m['venue'].value_counts().head()

Eden Gardens                                 77
M Chinnaswamy Stadium                        73
Wankhede Stadium                             73
Feroz Shah Kotla                             67
Rajiv Gandhi International Stadium, Uppal    56
Name: venue, dtype: int64

#### 16. In 2017 when sunrisers hyderabad clashed against Royal Challengers Bangalore which team player won player of the match?

In [37]:
a16 = df[(df['season'] == 2017) &
  (df['batting_team'] == 'Sunrisers Hyderabad') &
  (df['bowling_team'] == 'Royal Challengers Bangalore')]

In [38]:
a16['player_of_match'].unique()

array(['Yuvraj Singh'], dtype=object)

#### 17. Across seasons who are the top three batsman's with most number of run out?

In [39]:
a17 = df[df['dismissal_kind'] == 'run out']

In [40]:
a17 = a17.groupby(['batsman'])[['dismissal_kind']].count()

In [41]:
a17.sort_values(by = 'dismissal_kind' , ascending = False).head()

            dismissal_kind
batsman
MS Dhoni                21
RG Sharma               17
KD Karthik              16
G Gambhir               15
V Kohli                 15

#### 18. What are the total runs scored by V Kohli when the bowler was JJ Burmah?

In [42]:
a18 = df[(df['batsman'] == 'V Kohli') & (df['bowler'] == 'JJ Bumrah')]

In [43]:
a18['batsman_runs'].sum()

112

#### 19. Across all seasons which player was dismissed the maximum number of times via caught and bowled

In [44]:
a19 = df[df['dismissal_kind'] == 'caught and bowled']

In [45]:
a19 = a19.groupby(['batsman'])[['dismissal_kind']].count()

In [46]:
a19.sort_values(by = 'dismissal_kind' , ascending = False).head()

           dismissal_kind
batsman
SK Raina                7
RG Sharma               6
AM Rahane               5
RA Jadeja               5
R Dravid                5

#### 20. which player has the highest hard-hitting ability?

In [47]:
a20 = df[df['batsman_runs'] == 6]

In [48]:
a20 = a20.groupby(['batsman'])[['batsman_runs']].count()

In [49]:
a20.sort_values(by = 'batsman_runs' , ascending = False).head()

                batsman_runs
batsman
CH Gayle                 327
AB de Villiers           214
MS Dhoni                 207
SK Raina                 195
RG Sharma                194